body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(30deg, rgb(0, 32, 36), rgb(0, 91, 119));
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: auto;
    background-color: #FFFFFF;
}

.button1 {
    border-radius: 5px;
    border: none;
    margin: auto;
    outline: none !important;
    color: #0B3A55;
    font-family: Sen;
    background-color: #92E3A9;
    padding: 0.5%;
    font-size: 24px;
}

.button2 {
    border-radius: 5px;
    border: none;
    margin: auto;
    outline: none;
    color: #0B3A55;
    text-decoration: none;
    font-family: Sen;
    background-color: #92E3A9;
    padding: 0.5%;
    font-size: 24px;
}

.button3 {
    border-radius: 5px;
    border: none;
    margin: auto;
    outline: none;
    color: #0B3A55;
    text-decoration: none;
    font-family: Sen;
    background-color: #92E3A9;
    padding: 0.5%;
    font-size: 24px;
}

.button4 {
    border-radius: 5px;
    border: none;
    margin: auto;
    outline: none;
    color: #0B3A55;
    text-decoration: none;
    font-family: Sen;
    background-color: #92E3A9;
    padding: 0.5%;
    font-size: 24px;
}

.center {
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.qa_id {
    background-color: #FFFFFF;
    font-family: Sen;
    font-size: 24px;
    padding: 2%;
    color: #0B3A55;
}

.navbar {
    background-color: #FFFFFF;
    font-family: Sen;
    font-size: 16px;
    color: #0B3A55;
    padding: 2%;
    text-decoration: none;
}

.text {
    background-color: #FFFFFF;
    font-family: Sen;
    font-size: 24px;
    padding: 2%;
    color: #0B3A55;
    width: 1000px;
}

.hints {
    font-family: Sen;
    font-size: 16px;
    padding: 5%;
    color: #FFFFFF;
    width: 70px;

}

li {
    list-style-type: none;
}

li::before {
    content: '‣';
}

a {
    text-decoration: none;
    color: #0B3A55;
    font-family: Sen;
}